* {
  padding: 0;
  margin: 0;
}
body {
  background: url(img/starry-sky.jpeg) round;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.video-player {
  max-width: 720px;
}
.wrapper {
  display: flex;
}
.speed {
  width: 50px;
  margin-left: 10px;
  overflow: hidden;
}
.speed-bar {
  background: rgba(29, 43, 121, 0.712);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 14%;
  color: white;
}
