* {
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.header {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.header > h1 {
  width: 100%;
}
.header > p:not(:last-child) {
  flex: 3;
  font-size: 30px;
}
p:last-child {
  width: 100%;
  font-size: 25px;
}
.start-game {
  background: transparent;
  flex: 1;
  box-shadow: inset 0 0 6px;
  height: 50px;
}

.game {
  max-width: 750px;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.game__tube {
  flex: 1 0 40%;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
.game__tube::after {
  content: "";
  width: 50%;
  height: 100%;
  background: url(img/tube.png) round;
  position: relative;
  z-index: 3;
  top: 90px;
}
.game__mario {
  width: 90px;
  height: 100px;
  background: url(img/mario.png) round;
  position: absolute;
  transition: all 0.2s linear;
  transform: translateY(90px);
}
.up {
  transform: translateY(0);
}
