* {
  padding: 0;
  margin: 0;
}
.keys {
  background: url("img/background.jpg");
  background-repeat: round;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.3rem solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0.7rem 0.5rem;
  transition: all 0.07s ease;
  width: 6rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 2rem;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
