.buttons {
  width: 1020px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  top: 381px;
  left: calc(50% - 512px);
  @media (max-width: 1019px) {
    width: 100vw;
    top: 310px;
    left: calc(50% - 50vw);
  }
  @media (max-width: 767px) {
    width: 100vw;
    top: 193px;
    left: calc(50% - 50vw);
  }
}

.slider-content__arrow-left {
  background-image: url(images/slider/arrow-left.png);
  background-repeat: round;
  width: 20px;
  height: 27px;
  margin-left: 38px;
  z-index: 100;
  @media (max-width: 1019px) {
    margin-left: 27px;
  }
  @media (max-width: 767px) {
    width: 14px;
    height: 24px;
    margin-left: 15px;
  }
  @media (max-width: 374px) {
    width: 14px;
    height: 24px;
    margin-left: 7px;
  }
}
.slider-content__arrow-right {
  background-image: url(images/slider/arrow-right.png);
  background-repeat: round;
  width: 20px;
  height: 27px;
  margin-right: 38px;
  z-index: 100;
  @media (max-width: 1019px) {
    margin-right: 27px;
  }
  @media (max-width: 767px) {
    width: 14px;
    height: 24px;
    margin-right: 15px;
  }
  @media (max-width: 374px) {
    width: 14px;
    height: 24px;
    margin-left: 7px;
  }
}
