* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
 display: flex;
 height: 100vh;
 justify-content: center;
 align-items: center;
}

.calculator {
  width: 400px;
  height: 500px;
  background: #1dca34;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.calculator-display {
  width: 313px;
  height: 42px;
  background: #25cca8;
  margin: 0px auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  width: 98%;
  height: 84%;
  background: #360649;
  color: #ffffff;
  font: 24px Arial;
}

.calculator-buttons {
  width: 80%;
  height: 70%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

button {
  width: 100%;
  height: 100%;
  color: #424040;
  font: 24px Arial;
}

.zero {
  grid-column: 1/3;
}

.result {
  grid-column: 4;
  grid-row: 6/4;
}
