* {
  padding: 0;
  margin: 0;
}
h2,
label {
  color: var(--base, #008c8c);
  filter: hue-rotate(180deg) invert(100%) contrast(140%);
}
:root {
  --base: #008c8c;
  --spacing: 50%;
  --blur: 0px;
  --invert: 0%;
  --sepia: 0%;
  --saturate: 100%;
  --hue-rotate: 0deg;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  background-color: var(--base, #008c8c);
  height: 100vh;
}
.controls {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.images {
  overflow: hidden;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1%;
}
.images__main {
  max-height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images__main img {
  width: var(--spacing, 50%);
  filter: blur(var(--blur, 0px)) invert(var(--invert, 0%))
    sepia(var(--sepia, 0%)) saturate(var(--saturate, 100%))
    hue-rotate(var(--hue-rotate, 0deg));
}
.images__choice {
  height: 30%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
.images__choice img {
  width: 25%;
  margin: 10px 20px;
  align-self: flex-end;
}
.images__choice img:hover {
  transform: scale(1.1);
}
