* {
  margin: 0px;
  padding: 0px;
}

.content {
  width: 1020px;
  margin: 0px auto;
}

.header {
  background-color: #2d303a;
}
@media (max-width: 767px) {
  .header {
    height: 71px;
  }
}

.header-content {
  transition: all 1s ease-in-out;
  background-color: #2d303a;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 89px;
  color: white;
  border-bottom: 6px solid #323746;
}
@media (max-width: 1019px) {
  .header-content {
    width: 100vw;
  }
}
@media (max-width: 767px) {
  .header-content {
    margin: 0px;
    height: 71px;
    justify-content: flex-start;
    border-bottom: initial;
  }
}

.header__logo {
  display: flex;
  margin: 29px 41px 35px;
  text-transform: uppercase;
  font: 700 24px "Lato", sans-serif;
  line-height: 30px;
}
@media (max-width: 767px) {
  .header__logo {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    margin: calc(71px / 2 - 10px) 0px 0px 0px;
  }
}

.header__navigation {
  margin: 39px 40px 34px;
}
@media (max-width: 767px) {
  .header__navigation {
    margin: 0px;
    position: absolute;
    top: 215px;
    left: calc(50% - 64.5px);
    height: 260px;
  }
}

.navigation {
  display: flex;
  list-style: none;
  align-items: center;
}
.navigation li::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 3px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0px 15px;
}
.navigation li:last-child::after {
  content: "";
  display: none;
}
@media (max-width: 767px) {
  .navigation {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .navigation a {
    font-size: 24px;
    line-height: 29px;
  }
  .navigation li::after {
    content: "";
    display: none;
  }
}

.navigation__link {
  text-transform: uppercase;
  font: 700 12px "Lato", sans-serif;
  line-height: 14px;
  letter-spacing: -0.03em;
  text-decoration: none;
  color: white;
}

.navigation__link:hover {
  color: #f06c64;
  cursor: pointer;
}

span {
  color: #f06c64;
}

.active {
  color: #f06c64;
}

/*# sourceMappingURL=style.css.map */
.slider {
  background-color: #f06c64;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 1020px;
  height: 594px;
  z-index: 1;
  margin: 0px auto;
}
@media (max-width: 1019px) {
  .wrapper {
    width: 100vw;
    height: 100%;
  }
}

.slides {
  display: flex;
  position: relative;
  top: 0;
  left: -1020px;
  width: 10000px;
}
@media (max-width: 1019px) {
  .slides {
    left: -100vw;
  }
}

.slides.shifting {
  transition: left 0.5s ease-out;
}

.slide {
  width: 1020px;
  height: 594px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
}
@media (max-width: 1019px) {
  .slide {
    width: 100vw;
    height: 100%;
  }
}

#prev:active,
#next:active {
  transform: scale(0.8);
}

.line-slider-1 {
  background-color: #ea676b;
  height: 6px;
}

.line-slider-2 {
  background-color: #537ff0;
  height: 6px;
}

.phone-vertical {
  width: 216px;
  height: 458px;
  background-color: #f2f2f2;
  margin: 0px 0px 28px 112px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 25px 25px 0px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1019px) {
  .phone-vertical {
    width: 162.36px;
    height: 344.26px;
    margin: 41px 0px 60px;
    border-radius: 20px;
  }
}
@media (max-width: 767px) {
  .phone-vertical {
    width: 79px;
    height: 168px;
    border-radius: 9px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.1);
  }
}

.phone-vertical__camera {
  width: 4px;
  height: 4px;
  background-color: #eb5055;
  border: 2.5px solid #d8d8d8;
  border-radius: 50%;
  margin-top: 17.48px;
}
@media (max-width: 1019px) {
  .phone-vertical__camera {
    width: 3px;
    height: 3px;
    margin-top: 12.48px;
  }
}
@media (max-width: 767px) {
  .phone-vertical__camera {
    width: 1.5px;
    height: 1.5px;
    border: 1.5px solid #d8d8d8;
    margin-top: 6.48px;
  }
}

.phone-vertical__speaker {
  width: 36px;
  height: 5px;
  border-radius: 10px;
  background-color: #acacac;
  margin-top: 10.62px;
}
@media (max-width: 1019px) {
  .phone-vertical__speaker {
    width: 27px;
    height: 3.7px;
    margin-top: 9.62px;
  }
}
@media (max-width: 767px) {
  .phone-vertical__speaker {
    width: 13px;
    height: 1.8px;
    margin-top: 3.62px;
  }
}

.phone-vertical__screen {
  width: 188px;
  height: 333px;
  border: 3px solid #c7c7c7;
  margin-top: 21.04px;
  border-radius: 2px;
  background-image: url(images/slider/phone-vertical-display.png);
  background-repeat: round;
}
@media (max-width: 1019px) {
  .phone-vertical__screen {
    width: 141px;
    height: 250px;
    margin-top: 12.04px;
  }
}
@media (max-width: 767px) {
  .phone-vertical__screen {
    width: 71px;
    height: 124px;
    border: 1px solid #c7c7c7;
    margin-top: 7.04px;
  }
}

.phone-vertical__home-button {
  width: 41.88px;
  height: 41.88px;
  background-color: #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.72px;
}
@media (max-width: 1019px) {
  .phone-vertical__home-button {
    width: 31px;
    height: 31px;
  }
}
@media (max-width: 767px) {
  .phone-vertical__home-button {
    width: 13px;
    height: 13px;
    margin-top: 2.72px;
  }
}

.phone-vertical__home-button_backlight {
  width: 12.5px;
  height: 12.5px;
  background-color: #fafafa;
  border: 2px solid #bababa;
  border-radius: 5px;
}
@media (max-width: 1019px) {
  .phone-vertical__home-button_backlight {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 767px) {
  .phone-vertical__home-button_backlight {
    width: 4px;
    height: 4px;
    border: 1px solid #bababa;
    border-radius: 2px;
  }
}

.phone-horizontal {
  width: 458px;
  height: 216px;
  background-color: #f2f2f2;
  margin: 0px 0px 25px 97px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  box-shadow: 25px 25px 0px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1019px) {
  .phone-horizontal {
    height: 162.36px;
    border-radius: 20px;
    width: 344.26px;
    margin: 0px 18px 17px 73px;
  }
}
@media (max-width: 767px) {
  .phone-horizontal {
    height: 79px;
    width: 168px;
    border-radius: 9px;
    margin: 0px 0px 17px 8%;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 374px) {
  .phone-horizontal {
    margin: 0px 0px 17px 10px;
    margin-right: 2vw;
  }
}

.phone-horizontal__camera {
  width: 4px;
  height: 4px;
  background-color: #eb5055;
  border: 2.5px solid #d8d8d8;
  border-radius: 50%;
  margin-right: 16.48px;
}
@media (max-width: 1019px) {
  .phone-horizontal__camera {
    width: 3px;
    height: 3px;
    margin-right: 12.48px;
  }
}
@media (max-width: 767px) {
  .phone-horizontal__camera {
    height: 1.5px;
    width: 1.5px;
    border: 1.5px solid #d8d8d8;
    margin-right: 6.62px;
  }
}

.phone-horizontal__speaker {
  width: 5px;
  height: 36px;
  border-radius: 10px;
  background-color: #acacac;
  margin-right: 10.62px;
}
@media (max-width: 1019px) {
  .phone-horizontal__speaker {
    height: 27px;
    width: 3.7px;
    margin-right: 9.62px;
  }
}
@media (max-width: 767px) {
  .phone-horizontal__speaker {
    height: 13px;
    width: 1.8px;
    margin-right: 3.62px;
  }
}

.phone-horizontal__screen {
  width: 333px;
  height: 188px;
  border: 3px solid #c7c7c7;
  margin-right: 21.04px;
  border-radius: 2px;
  background-image: url(images/slider/phone-horizontal-display.png);
  background-repeat: round;
}
@media (max-width: 1019px) {
  .phone-horizontal__screen {
    height: 141px;
    width: 250px;
    margin-right: 12.04px;
  }
}
@media (max-width: 767px) {
  .phone-horizontal__screen {
    height: 71px;
    width: 124px;
    border: 1px solid #c7c7c7;
    margin-right: 7.04px;
  }
}

.phone-horizontal__home-button {
  width: 41.88px;
  height: 41.88px;
  background-color: #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6.72px;
}
@media (max-width: 1019px) {
  .phone-horizontal__home-button {
    width: 31px;
    height: 31px;
  }
}
@media (max-width: 767px) {
  .phone-horizontal__home-button {
    height: 13px;
    width: 13px;
    margin-right: 2.72px;
  }
}

.phone-horizontal__home-button_backlight {
  width: 12.5px;
  height: 12.5px;
  background-color: #fafafa;
  border: 2px solid #bababa;
  border-radius: 5px;
}
@media (max-width: 1019px) {
  .phone-horizontal__home-button_backlight {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 767px) {
  .phone-horizontal__home-button_backlight {
    width: 4px;
    height: 4px;
    border: 1px solid #bababa;
    border-radius: 2px;
  }
}

.phone-vertical-left {
  width: calc(216px / 1.54);
  height: calc(458px / 1.54);
  background-color: #f2f2f2;
  margin: 0px 0px 0px 0px;
  border-radius: calc(27px / 1.54);
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
  box-shadow: calc(25px / 1.54) calc(25px / 1.54) 0px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1019px) {
  .phone-vertical-left {
    width: calc(162.36px / 1.54);
    height: calc(344.26px / 1.54);
    margin: 0px;
  }
}
@media (max-width: 767px) {
  .phone-vertical-left {
    width: calc(79px / 1.54);
    height: calc(168px / 1.54);
    border-radius: calc(9px / 1.54);
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.1);
  }
}

.phone-vertical-left__camera {
  width: calc(4px / 1.54);
  height: calc(4px / 1.54);
  background-color: #eb5055;
  border: calc(2.5px / 1.54) solid #d8d8d8;
  border-radius: 50%;
  margin-top: calc(17.48px / 1.54);
  opacity: 0.7;
}
@media (max-width: 1019px) {
  .phone-vertical-left__camera {
    width: calc(3px / 1.54);
    height: calc(3px / 1.54);
    margin-top: calc(12.48px / 1.54);
  }
}
@media (max-width: 767px) {
  .phone-vertical-left__camera {
    width: 1.5px;
    height: 1.5px;
    border: 1.5px solid #d8d8d8;
    margin-top: calc(6.48px / 1.54);
  }
}

.phone-vertical-left__speaker {
  opacity: 0.7;
  width: calc(36px / 1.54);
  height: calc(5px / 1.54);
  border-radius: calc(10px / 1.54);
  background-color: #acacac;
  margin-top: calc(10.62px / 1.54);
}
@media (max-width: 1019px) {
  .phone-vertical-left__speaker {
    width: calc(27px / 1.54);
    height: calc(3.7px / 1.54);
    margin-top: calc(9.62px / 1.54);
  }
}
@media (max-width: 767px) {
  .phone-vertical-left__speaker {
    width: calc(13px / 1.54);
    height: calc(1.8px / 1.54);
    margin-top: calc(3.62px / 1.54);
  }
}

.phone-vertical-left__screen {
  opacity: 0.7;
  width: calc(188px / 1.54);
  height: calc(333px / 1.54);
  border: calc(3px / 1.54) solid #c7c7c7;
  margin-top: calc(21.04px / 1.54);
  border-radius: calc(2px / 1.54);
  background-image: url(images/slider/phone-vertical-display.png);
  background-repeat: round;
}
@media (max-width: 1019px) {
  .phone-vertical-left__screen {
    width: calc(141px / 1.54);
    height: calc(250px / 1.54);
    margin-top: calc(12.04px / 1.54);
  }
}
@media (max-width: 767px) {
  .phone-vertical-left__screen {
    width: calc(71px / 1.54);
    height: calc(124px / 1.54);
    border: 1px solid #c7c7c7;
    margin-top: calc(7.04px / 1.54);
  }
}

.phone-vertical-left__home-button {
  opacity: 0.7;
  width: calc(41.88px / 1.54);
  height: calc(41.88px / 1.54);
  background-color: #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(6.72px / 1.54);
}
@media (max-width: 1019px) {
  .phone-vertical-left__home-button {
    width: calc(31px / 1.54);
    height: calc(31px / 1.54);
  }
}
@media (max-width: 767px) {
  .phone-vertical-left__home-button {
    width: calc(13px / 1.54);
    height: calc(13px / 1.54);
    margin-top: calc(2.72px / 1.54);
  }
}

.phone-vertical-left__home-button_backlight {
  opacity: 0.7;
  width: calc(12.5px / 1.54);
  height: calc(12.5px / 1.54);
  background-color: #fafafa;
  border: calc(2px / 1.54) solid #bababa;
  border-radius: calc(5px / 1.54);
}
@media (max-width: 1019px) {
  .phone-vertical-left__home-button_backlight {
    width: calc(8px / 1.54);
    height: calc(8px / 1.54);
  }
}
@media (max-width: 767px) {
  .phone-vertical-left__home-button_backlight {
    width: calc(4px / 1.54);
    height: calc(4px / 1.54);
    border: 1px solid #bababa;
    border-radius: 2px;
  }
}

.phone-vertical-center {
  z-index: 1;
  width: 216px;
  height: 458px;
  background-color: #f2f2f2;
  margin: 0px 0px 0px 0px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 25px 25px 0px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1019px) {
  .phone-vertical-center {
    width: 162.36px;
    height: 344.26px;
    margin: 50.5px 0px;
  }
}
@media (max-width: 767px) {
  .phone-vertical-center {
    width: 79px;
    height: 168px;
    border-radius: 9px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.1);
  }
}

.phone-vertical-center__camera {
  width: 4px;
  height: 4px;
  background-color: #eb5055;
  border: 2.5px solid #d8d8d8;
  border-radius: 50%;
  margin-top: 17.48px;
}
@media (max-width: 1019px) {
  .phone-vertical-center__camera {
    width: 3px;
    height: 3px;
    margin-top: 12.48px;
  }
}
@media (max-width: 767px) {
  .phone-vertical-center__camera {
    width: 1.5px;
    height: 1.5px;
    border: 1.5px solid #d8d8d8;
    margin-top: 6.48px;
  }
}

.phone-vertical-center__speaker {
  width: 36px;
  height: 5px;
  border-radius: 10px;
  background-color: #acacac;
  margin-top: 10.62px;
}
@media (max-width: 1019px) {
  .phone-vertical-center__speaker {
    width: 27px;
    height: 3.7px;
    margin-top: 9.62px;
  }
}
@media (max-width: 767px) {
  .phone-vertical-center__speaker {
    width: 13px;
    height: 1.8px;
    margin-top: 3.62px;
  }
}

.phone-vertical-center__screen {
  width: 188px;
  height: 333px;
  border: 3px solid #c7c7c7;
  margin-top: 21.04px;
  border-radius: 2px;
  background-image: url(images/slider/phone-vertical-display-slide-2.png);
  background-repeat: round;
}
@media (max-width: 1019px) {
  .phone-vertical-center__screen {
    width: 141px;
    height: 250px;
    margin-top: 12.04px;
  }
}
@media (max-width: 767px) {
  .phone-vertical-center__screen {
    width: 71px;
    height: 124px;
    border: 1px solid #c7c7c7;
    margin-top: 7.04px;
  }
}

.phone-vertical-center__home-button {
  width: 41.88px;
  height: 41.88px;
  background-color: #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.72px;
}
@media (max-width: 1019px) {
  .phone-vertical-center__home-button {
    width: 31px;
    height: 31px;
  }
}
@media (max-width: 767px) {
  .phone-vertical-center__home-button {
    width: 13px;
    height: 13px;
    margin-top: 2.72px;
  }
}

.phone-vertical-center__home-button_backlight {
  width: 12.5px;
  height: 12.5px;
  background-color: #fafafa;
  border: 2px solid #bababa;
  border-radius: 5px;
}
@media (max-width: 1019px) {
  .phone-vertical-center__home-button_backlight {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 767px) {
  .phone-vertical-center__home-button_backlight {
    width: 4px;
    height: 4px;
    border: 1px solid #bababa;
    border-radius: 2px;
  }
}

.phone-vertical-right {
  width: calc(216px / 1.54);
  height: calc(458px / 1.54);
  background-color: #f2f2f2;
  margin: 0px 0px 0px 0px;
  border-radius: calc(27px / 1.54);
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
  box-shadow: calc(25px / 1.54) calc(25px / 1.54) 0px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1019px) {
  .phone-vertical-right {
    width: calc(162.36px / 1.54);
    height: calc(344.26px / 1.54);
    margin: 0px;
  }
}
@media (max-width: 767px) {
  .phone-vertical-right {
    width: calc(79px / 1.54);
    height: calc(168px / 1.54);
    border-radius: calc(9px / 1.54);
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.1);
  }
}

.phone-vertical-right__camera {
  width: calc(4px / 1.54);
  height: calc(4px / 1.54);
  background-color: #eb5055;
  border: calc(2.5px / 1.54) solid #d8d8d8;
  border-radius: 50%;
  margin-top: calc(17.48px / 1.54);
  opacity: 0.7;
}
@media (max-width: 1019px) {
  .phone-vertical-right__camera {
    width: calc(3px / 1.54);
    height: calc(3px / 1.54);
    margin-top: calc(12.48px / 1.54);
  }
}
@media (max-width: 767px) {
  .phone-vertical-right__camera {
    width: 1.5px;
    height: 1.5px;
    border: 1.5px solid #d8d8d8;
    margin-top: calc(6.48px / 1.54);
  }
}

.phone-vertical-right__speaker {
  opacity: 0.7;
  width: calc(36px / 1.54);
  height: calc(5px / 1.54);
  border-radius: calc(10px / 1.54);
  background-color: #acacac;
  margin-top: calc(10.62px / 1.54);
}
@media (max-width: 1019px) {
  .phone-vertical-right__speaker {
    width: calc(27px / 1.54);
    height: calc(3.7px / 1.54);
    margin-top: calc(9.62px / 1.54);
  }
}
@media (max-width: 767px) {
  .phone-vertical-right__speaker {
    width: calc(13px / 1.54);
    height: calc(1.8px / 1.54);
    margin-top: calc(3.62px / 1.54);
  }
}

.phone-vertical-right__screen {
  opacity: 0.7;
  width: calc(188px / 1.54);
  height: calc(333px / 1.54);
  border: calc(3px / 1.54) solid #c7c7c7;
  margin-top: calc(21.04px / 1.54);
  border-radius: calc(2px / 1.54);
  background-image: url(images/slider/phone-vertical-display.png);
  background-repeat: round;
}
@media (max-width: 1019px) {
  .phone-vertical-right__screen {
    width: calc(141px / 1.54);
    height: calc(250px / 1.54);
    margin-top: calc(12.04px / 1.54);
  }
}
@media (max-width: 767px) {
  .phone-vertical-right__screen {
    width: calc(71px / 1.54);
    height: calc(124px / 1.54);
    border: 1px solid #c7c7c7;
    margin-top: calc(7.04px / 1.54);
  }
}

.phone-vertical-right__home-button {
  opacity: 0.7;
  width: calc(41.88px / 1.54);
  height: calc(41.88px / 1.54);
  background-color: #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(6.72px / 1.54);
}
@media (max-width: 1019px) {
  .phone-vertical-right__home-button {
    width: calc(31px / 1.54);
    height: calc(31px / 1.54);
  }
}
@media (max-width: 767px) {
  .phone-vertical-right__home-button {
    width: calc(13px / 1.54);
    height: calc(13px / 1.54);
    margin-top: calc(2.72px / 1.54);
  }
}

.phone-vertical-right__home-button_backlight {
  opacity: 0.7;
  width: calc(12.5px / 1.54);
  height: calc(12.5px / 1.54);
  background-color: #fafafa;
  border: calc(2px / 1.54) solid #bababa;
  border-radius: calc(5px / 1.54);
}
@media (max-width: 1019px) {
  .phone-vertical-right__home-button_backlight {
    width: calc(8px / 1.54);
    height: calc(8px / 1.54);
  }
}
@media (max-width: 767px) {
  .phone-vertical-right__home-button_backlight {
    width: calc(4px / 1.54);
    height: calc(4px / 1.54);
    border: 1px solid #bababa;
    border-radius: 2px;
  }
}

.buttons {
  width: 1020px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  top: 381px;
  left: calc(50% - 512px);
}
@media (max-width: 1019px) {
  .buttons {
    width: 100vw;
    top: 310px;
    left: calc(50% - 50vw);
  }
}
@media (max-width: 767px) {
  .buttons {
    width: 100vw;
    top: 193px;
    left: calc(50% - 50vw);
  }
}

.slider-content__arrow-left {
  background-image: url(images/slider/arrow-left.png);
  background-repeat: round;
  width: 20px;
  height: 27px;
  margin-left: 38px;
  z-index: 100;
}
@media (max-width: 1019px) {
  .slider-content__arrow-left {
    margin-left: 27px;
  }
}
@media (max-width: 767px) {
  .slider-content__arrow-left {
    width: 14px;
    height: 24px;
    margin-left: 15px;
  }
}
@media (max-width: 374px) {
  .slider-content__arrow-left {
    width: 14px;
    height: 24px;
    margin-left: 7px;
  }
}

.slider-content__arrow-right {
  background-image: url(images/slider/arrow-right.png);
  background-repeat: round;
  width: 20px;
  height: 27px;
  margin-right: 38px;
  z-index: 100;
}
@media (max-width: 1019px) {
  .slider-content__arrow-right {
    margin-right: 27px;
  }
}
@media (max-width: 767px) {
  .slider-content__arrow-right {
    width: 14px;
    height: 24px;
    margin-right: 15px;
  }
}
@media (max-width: 374px) {
  .slider-content__arrow-right {
    width: 14px;
    height: 24px;
    margin-left: 7px;
  }
}

.slide-1 {
  background-color: #f06c64;
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 1019px) {
  .slide-1 {
    justify-content: center;
  }
}

.slide-2 {
  background-color: #648bf0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.services {
  background-color: #f2f2f2;
}

.services-content {
  padding: 59px 40px 0px;
  box-sizing: border-box;
  border-bottom: 6px solid #ffffff;
}
@media (max-width: 1019px) {
  .services-content {
    width: 100vw;
    height: auto;
    padding: 40px 40px 0px;
  }
}
@media (max-width: 767px) {
  .services-content {
    padding: 25px 33px 0px;
    border-bottom: initial;
  }
}

.header-intro {
  color: #666d89;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.text-intro {
  color: #767e9e;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-top: 18px;
  letter-spacing: 0.2px;
}
@media (max-width: 1019px) {
  .text-intro {
    text-align: justify;
  }
}
@media (max-width: 767px) {
  .text-intro {
    text-align: inherit;
  }
}

.services-content__list {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 47px 0px 28px;
  flex-wrap: wrap;
}
@media (max-width: 1019px) {
  .services-content__list {
    padding: 38px 0px 0px;
  }
}
@media (max-width: 767px) {
  .services-content__list {
    padding: 28px 0px 0px;
  }
}

.list-items {
  width: 300px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
@media (max-width: 1019px) {
  .list-items {
    margin: 0vw 5% 6% 0vw;
  }
}
@media (max-width: 767px) {
  .list-items {
    margin: 0vw 0% 5% 0vw;
  }
}
@media (max-width: 374px) {
  .list-items {
    margin: 0vw 0% 10% 0vw;
    min-height: 104px;
    max-width: 100%;
    justify-content: flex-start;
  }
}

.list-item-icon {
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #666d89;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}
@media (max-width: 374px) {
  .list-item-icon {
    min-width: 56px;
  }
}

.list-item-text {
  width: 220px;
  height: 104px;
}
.list-item-text > h1 {
  color: #666d89;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.list-item-text > p {
  color: #767e9e;
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  padding-top: 9px;
}
@media (max-width: 374px) {
  .list-item-text {
    max-width: 100%;
    min-height: 104px;
    margin-left: 20px;
  }
}

.pencil {
  background-image: url(images/services-_icons/services-item-1--nocircle.svg);
}

.light-bulb {
  background-image: url(images/services-_icons/services-item-2--nocircle.svg);
}

.heart {
  background-image: url(images/services-_icons/services-item-3--nocircle.svg);
}

.phone {
  background-image: url(images/services-_icons/services-item-4--nocircle.svg);
}

.message {
  background-image: url(images/services-_icons/services-item-5--nocircle.svg);
}

.star {
  background-image: url(images/services-_icons/services-item-6--nocircle.svg);
}

.portfolio {
  background-color: #2d303a;
}

.portfolio-content {
  height: 864px;
  padding: 59px 40px 0px 40px;
  box-sizing: border-box;
  border-bottom: 6px solid #323746;
}
@media (max-width: 1019px) {
  .portfolio-content {
    width: 100vw;
    height: auto;
    padding: 56px 40px 57px 40px;
  }
}
@media (max-width: 767px) {
  .portfolio-content {
    padding: 42px 30px 42px 30px;
    border-bottom: initial;
  }
}

.portfolio-content__filter-list {
  width: 290px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
@media (max-width: 767px) {
  .portfolio-content__filter-list {
    margin-top: 16px;
  }
}
@media (max-width: 374px) {
  .portfolio-content__filter-list {
    justify-content: stretch;
    width: 100%;
  }
}

.button-filter {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 5px;
  background: transparent;
}
.button-filter:active {
  transform: scale(0.9);
}
@media (max-width: 374px) {
  .button-filter {
    margin-right: 5px;
  }
}

.all-images {
  width: 26px;
  height: 20px;
}

.web-design {
  width: 77px;
  height: 20px;
}

.graphic-design {
  width: 93px;
  height: 20px;
}

.artwork {
  width: 56px;
  height: 20px;
}

.porfolio-content__grid-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 8px 0px;
}
@media (max-width: 1019px) {
  .porfolio-content__grid-images {
    margin: 15px 0px 0px;
  }
}
@media (max-width: 767px) {
  .porfolio-content__grid-images {
    margin: 18px 0px 0px;
    height: calc(34vw * 4 + 50px);
  }
}

.images {
  width: calc(100% / 12 * 3 - 15px);
  height: 13.7vw;
  margin: 10px 10px;
  background-repeat: round;
}
.images:nth-child(4n) {
  margin-right: 0px;
}
.images:nth-child(4n+1) {
  margin-left: 0px;
}
@media (max-width: 1019px) {
  .images {
    width: calc(100% / 12 * 4 - 14px);
    height: 24vw;
    margin: 10px 10px;
  }
  .images:nth-child(4n+1) {
    margin-left: 10px;
  }
  .images:nth-child(4n) {
    margin-right: 10px;
  }
  .images:nth-child(3n+1) {
    margin-left: 0px;
  }
  .images:nth-child(3n) {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .images {
    width: calc(100% / 12 * 6 - 7px);
    height: 34vw;
    margin: 7px 7px;
  }
  .images:nth-child(3n+1) {
    margin-left: 7px;
  }
  .images:nth-child(3n) {
    margin-right: 7px;
  }
  .images:nth-child(2n) {
    margin-right: 0px;
  }
  .images:nth-child(2n+1) {
    margin-left: 0px;
  }
}

.button-filter:hover {
  border-color: #bbbbbb;
  color: #bbbbbb;
  cursor: pointer;
}

.active-button-filter {
  border-color: #bbbbbb;
  color: #bbbbbb;
}

.footer {
  background-color: #2d303a;
}

.footer-content {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  box-sizing: border-box;
}
@media (max-width: 1019px) {
  .footer-content {
    width: 100vw;
  }
}
@media (max-width: 767px) {
  .footer-content {
    justify-content: center;
  }
}

.footer-content__description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  color: #666d89;
}
@media (max-width: 767px) {
  .footer-content__description {
    display: none;
  }
}

.footer-content__social-buttons {
  width: 152px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 30px;
  height: 30px;
  border: 1px solid #666d89;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url(images/social-icons/ico-facebook--nocircle.svg);
}

.google-plus {
  background-image: url(images/social-icons/ico-google-plus--nocircle.svg);
}

.twitter {
  background-image: url(images/social-icons/ico-twitter--nocircle.svg);
}

.linkedin {
  background-image: url(images/social-icons/ico-linkedin--nocircle.svg);
}

.icon:hover {
  cursor: pointer;
  filter: brightness(1.7);
}

.burger-menu {
  display: none;
  transition: all 1s ease-in-out;
  transform: rotate(0deg);
  margin-top: calc(71px / 2 - 10px);
}
@media (max-width: 767px) {
  .burger-menu {
    display: flex;
    width: 25px;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    margin-left: 20px;
    margin-right: calc(50vw - 46px - 45px);
  }
}

.burger-menu__line {
  width: 25px;
  height: 2.4px;
  background-color: #ffffff;
  border-radius: 5px;
}

.active-burger-menu {
  transition: all 1s ease-in-out;
  justify-content: flex-start;
  height: 100vh;
  width: 278px;
  position: fixed;
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.1);
  background: #2d303a;
  z-index: 100;
  overflow: scroll;
}

.active-icon-burger-menu {
  transition: all 1s ease-in-out;
  transform: rotate(90deg);
  margin-right: calc(50% - 64px - 45px);
}

/*# sourceMappingURL=style.css.map */
