@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-shadow: 0px 0px 10px #000000;
    font-family: 'Pangolin', cursive;
    letter-spacing: 2px;
    
}
.wrapper{
    position: relative;
    /* width: 100vw; */
    min-height: 100vh;
    /* padding: 0px 40px; */
    overflow-x: hidden;
    
}
.header{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__name{
text-align: center;
}
.objective{
    margin: 10px 0px;
}
.phone{
    margin-bottom: 10px;
}
.header__my-photo{
    width: 120px;
    margin: 0px 20px 0px 100px;
    border-radius: 10px;
}
.link{
    margin: 0px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
     overflow: hidden;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: rgba(221, 221, 221, 1);
}
.icon{
width: 32px;
height: 32px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.link:hover{
    transform: scale(1.2);
    }
.about-me{
    margin-top: 50px;
    background: #05486e8e;
    padding: 20px 30px;
    box-shadow: 0 0 10px 5px rgb(255, 253, 253);
    /* margin: 0px 20px; */
    
}
.about-me__header{
    text-align: center;
    padding-bottom: 20px ;
    color: #FF6138;
    font-size: 36px;
}


.about-me__list {
    list-style: none;
}
.about-me__list li{
    padding:6px;
    font-size: 20px;
}
.about-me__list li:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.5s;
}
.about-me__list li:hover:before {
    color: #032b4e;
    content: "\2714";
}  




.about-me__skills {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}    
    
.about-me__skills li {
    position: relative;
    padding: 10px 30px;
    border-radius: 10px;
    background: linear-gradient(to left, #0770ac 0%, rgb(116, 149, 255), #0770ac );
    border: 2px solid #337AB7;
    color: #ffffff;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
    margin-right: 5px;
    text-align:center;
    font-weight: bold;
    background-size: 100% 100%;
    z-index: 1;
}
.about-me__skills li:before {
    content: "";
    position:absolute;
    border-radius: 10px;
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    background: linear-gradient(to left, rgb(13, 35, 109) 0%, rgb(13, 35, 109), rgb(13, 35, 109));
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s;
    z-index: -1;
}
.about-me__skills li:hover:before {
    width: 100%;
    opacity: 1;
}
 
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.my-projects{
    margin-top: 50px;
    background: #05486e8e;
    padding: 20px 30px;
    box-shadow: 0 0 10px 5px rgb(255, 253, 253);
}
.my-projects__header{
    text-align: center;
    padding-bottom: 20px ;
    color: #FF6138;
    font-size: 36px;
}


.wrapper-project{
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}
.wrapper-project:hover{
    box-shadow: 0 0 10px 5px rgb(255, 253, 253);
    transform: scale(1.01);
}
.img-project{
    border-radius: 10px;
    width: 380px;
    height: 250px;
}
.description-project{
    margin-left: 10px;
}
.description-project__name{
    font-size: 26px;
    text-align: center;
}
.description-project__text{
    font-size: 20px;
 margin: 10px;
}


#canvas{
    position: absolute;
    z-index: -1;
 width: 100%;
 height: 100%;
overflow: hidden;

}
    

.burbujas{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.li-skills{
    position: absolute;
    display: block;
    list-style: none;
    color: white;
    bottom: 0px;
}







