* {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}
.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}
.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 30px;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 {
  background-image: url("img/bridge.jpg");
}
.panel2 {
  background-image: url("img/road.jpg");
}
.panel3 {
  background-image: url("img/sea.jpg");
}
.panel4 {
  background-image: url("img/underwater.jpg");
}
.panel5 {
  background-image: url("img/Wallpaper.jpg");
}
.panel > * {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}
.panel > *:first-child {
  transform: translateY(-100%);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}
.open {
  flex: 5;
  font-size: 80px;
}
