.header-main{
  position: relative;
  z-index: 25;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.header-main__card{
  position: relative;
  width: 199px;
  font-size: 0;
}
.header-main__photo {
  width: 100%;
}
.header-main__name {
  position: absolute;
  text-align: center;
  font-weight: 700;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 10px 0;
  z-index: 1;
  font-size: 18px;
  text-transform: uppercase;
}
.header-main__name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
  background-color: var(--colors);
}
.header-main-menu{
  list-style: none;
  width: 199px;
}
.header-main-menu__elem{
  cursor: pointer;
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  line-height: 45px;
  padding-left: 70px;
  letter-spacing: 1px;
  border-bottom: 1px solid #202125;
  text-align: left;
}
.header-main-menu__icon {
  position: absolute;
  left: 40px;
  display: inline-block;
  font-size: 20px;
}
.active {
  color: #fff;
}
.header-mobile{
  display: none;
}

//header-mobile
@media (max-width: 768px) {
  .header-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #2a2b30;
    z-index: 20;
    h2 {
      text-align: center;
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      line-height: 40px;
    }
  }
  .header-mobile__toggle{
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    width: 50px;
    text-align: center;
    border-left: 1px solid #3b3c43;
    float: right;
  }
}
