.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20000;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 100%;
  text-align: center;
  h4 {
    text-transform: uppercase;
    font-weight: 700;
  }
  span {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: load 1s infinite alternate;
    margin: 5px;
    background: #007db6;
  }
  span:nth-of-type(2) {
    background: #008fb2;
    animation-delay: 0.2s;
  }
  span:nth-of-type(3) {
    background: #009b9e;
    animation-delay: 0.4s;
  }
  span:nth-of-type(4) {
    background: #00a77d;
    animation-delay: 0.6s;
  }
  span:nth-of-type(5) {
    background: #00b247;
    animation-delay: 0.8s;
  }
  span:nth-of-type(6) {
    background: #5ab027;
    animation-delay: 1s;
  }
  span:nth-of-type(7) {
    background: #a0b61e;
    animation-delay: 1.2s;
  }
}
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
