.main-cube-contacts{
  .header-page{
    margin-bottom: 0;
  }
}
.contacts-content{
  margin: auto auto;
  width: 100%;
  h3 {
    position: relative;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #222;
    padding: 0 10px;
    display: inline-block;
    margin: 20px 0;
  }

  .fab {
    display: block;
    color: var(--colors);
  }
  .fab:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
.contacts-row{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.contacts-row__social{
  text-align: center;
  flex: 0 0 41%;
}
@media (max-width: 414px) {
  .main-cube-contacts .contacts-row__social {
    flex: 0 0 50%;
    max-width: 100%;
  }
}
