.portfolio-projects-row{
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}
.portfolio-project{
  flex: 0 0 41%;
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  text-align: center;
  cursor: default;
  .portfolio-project__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
  }
  .portfolio-project__img {
    display: block;
    position: relative;
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    transform: translatey(-100px);
    transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    padding: 10px;
  }
  button.portfolio-project__btn-show {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.4s ease;
    margin: 20% 0 0;
    padding: 7px 14px;
  }

  button.portfolio-project__btn-show:hover {
    box-shadow: 0 0 5px #fff;
  }
}

.portfolio-project:hover .portfolio-project__img {
  transform: scale(1.2);
}
.portfolio-project:hover .portfolio-project__overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  overflow: hidden;
}
.portfolio-project:hover h2,
.portfolio-project:hover button.portfolio-project__btn-show {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translatey(0);
}
.portfolio-project .touch-img {
  transform: scale(1.2);
}
.portfolio-project .touch-overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  overflow: hidden;
}
.portfolio-project h2.touch-h2-button,
.portfolio-project button.touch-h2-button {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translatey(0);
}
@media (max-width: 1024px) {
  .portfolio-projects-row{
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .portfolio-project{
    margin-bottom: 20px;
    flex: 0 0 80%;
  }
  button.portfolio-project__btn-show {
    margin: 10% 0 0;
  }
}
@media (max-width: 768px) {
  .main-cube-portfolio .portfolio-projects-row .portfolio-project{
    max-height: 320px;
    flex: 0 0 80%;
    max-width: 80%;
    margin-bottom: 40px;
    padding: 0%;
  }
}
