.open-project {
  position: absolute;
  z-index: 100;
  transition: all 0.5s linear;
  transform: translateY(-100%);
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin: 0 auto;
}
.window-project {
  transform: translateY(0);
  display: flex;
flex-direction: column;
justify-content: center;
}
.close-project {
  transform: translateY(100%);
}
.fa-times {
  color: var(--colors);
  position: absolute;
  right: 20px;
  top: 10px;
}
.fa-times:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.slider {
  width: 100%;
  height: 65%;
}
.slick-list {
  width: 100%;
  height: 100%;
}
.slick-track {
  width: 100%;
  height: 100%;
}

.size-background {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.description-project {
  color: white;
}
.description-project__name {
  padding-top: 10px;
  text-align: center;
}
.description-project__text {
  margin-bottom: 5px;
}
.links{
display: flex;
justify-content: center;
}
.links__btn{
  margin: 10px 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: var(--colors);
  background-color: transparent;
  border: 1px solid transparent;
  border-color: var(--colors);
  border-width: 1px;
  transition: all .2s linear;
  outline-color: var(--colors);
}
.links__btn:hover{
  color: #fff;
  border-color: var(--colors);
  background-color: var(--colors);
}
@media (max-width: 1024px) {
  .slider {
    height: 60%;
  }
}
@media (max-width: 767px) {
  .slider {
    height: 50%;
  }
  .description-project__name {
    font-size: 22px;
  }
  .description-project__text {
    font-size: 14px;
    margin-bottom: 2px;
  }
}
@media (max-width: 414px) {
  .links {
    flex-wrap: nowrap;
  }
}
